/Guia 3/Ejer7_Guia3/nbproject/private/
/Guia 3/Ej6_Guia3/build/
/Guia 3/Ej5_Guia3/nbproject/private/
/Guia 3/Ej6_Guia3/nbproject/private/
/Guia 3/Ej7_Guia3/nbproject/private/
/Guia 3/Ej8_Guia3/nbproject/private/
/Guia 3/Ej7_Guia3/build/
/Guia 3/Ej8_Guia3/build/